{% extends "layout.twig" %}

{% block content %}
    <form action="{{ path('search') }}" method="get">
        <input type="text" name="s" required value="{{ query }}">
    </form>

    {% if hits |length %}
        <section>
            <em>{{ hits |length }} documents found in {{ time }} seconds</em>
            <ul>
                {% for hit in hits %}
                    <li>
                        <a href="{{ hit.document.url.url }}">{{ hit.document.title }}</a>
                        {% for matchedEntry in hit.matchs %}
                            <div>
                                <em>
                                    <strong>{{ matchedEntry.words |join(', ') }}</strong> :
                                    {{ hit.matchs[matchedEntry].words |join(', ') }}
                                </em>
                            </div>
                        {% endfor %}
                        {% if hit.suggestions.count() %}
                            <p>Suggestions</p>
                            {% for suggestedEntry in hit.suggestions %}
                                <div>
                                    <em>
                                        <strong>{{ suggestedEntry.words |join(', ') }}</strong> :
                                        {% for docEntry in hit.suggestions[suggestedEntry].toArray() %}
                                            {{ docEntry.words |join(', ') }}
                                        {% endfor %}
                                    </em>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <br/>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% else %}
        <h1>No results found</h1>
    {% endif %}
{% endblock %}